<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Your Title goes here... </title>
  <meta name="description" content="Just a simple html representation of compared results" />
</head>
<body style="font-family: sans-serif">
  {% for key, value in favorites.iteritems() %}
      <h3> Results of {{ key }}:</h3>
      {% for item in value %}
      <br>
      <br>
      <table style="border:2px solid black ;border-collapse:collapse; padding: 10px;">
      <tr style="border:2px solid black;padding: 10px;">
          <th style="border:2px solid black;padding: 10px; background-color: royalblue"> <h3>LHS Data </h3></th>
          <th style="border:2px solid black;padding: 10px; background-color: royalblue"> <h3>AHS Data</h3></th>
          <th style="border:2px solid black;padding: 10px; background-color: royalblue"> <h3>ILO Data</h3></th>
          <th style="border:2px solid black;padding: 10px; background-color: royalblue"> <h3>STATUS</h3> </th>
      </tr>
      {% for k,v in item.iteritems() %}
      <tr style="border:2px solid black;padding: 10px;">
          <td style="border:2px solid black;padding: 10px;" >{{k}}</td>
          <td style="border:2px solid black;padding: 10px;">{{v[0]}}</td>
          <td style="border:2px solid black;padding: 10px;">{{v[1]}}</td>
          <td style="border:2px solid black;padding: 10px; {% if v[2].upper() == "PASS" %} background-color: green; {% endif %} {% if v[2].upper() == "FAIL" %} background-color: red; {% endif %} ">{{v[2]}}</td>

      </tr>
      {% endfor %}
      </table>
      {% endfor %}
  {% endfor %}
</body>
</html>